.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    217deg,
    rgba(16, 185, 129, 0.48),
    rgba(#10b981, 0) 100%
  );
  border-left: 5px solid #43a047;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 15px;
}
