:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.spinner {
  margin-top: auto;
  margin-bottom: auto;
}
