.caption {
  display: flex;
  justify-content: end;
}

.action-buttons {
  display: flex;
  gap: 20px;
}

.description-column {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-message {
  color: gray;
  text-align: center;
}
