<p-table
  [value]="products()"
  [paginator]="true"
  [rows]="15"
  [rowsPerPageOptions]="[5, 10, 15, 20]"
>
  <ng-template #header>
    <tr>
      <th style="width:25%">Name</th>
      <th style="width:25%">Quantity</th>
      <th style="width:25%">Unit Price</th>
      <th style="width:25%">Description</th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.unitPrice }}</td>
      <td>{{ product.description }}</td>
    </tr>
  </ng-template>
</p-table>
