.caption {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.action-buttons {
  display: flex;
  gap: 20px;
}

.description-column {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-message {
  color: gray;
  text-align: center;
}

@media all and (max-width: 420px) {
  // Shrink search input on mobile/narrow screen devices
  .search {
    max-width: 180px;
  }
}
