<p-dialog [style]="{ 'min-width': '35vw' }" header="Add Product" [modal]="true" [draggable]="false"
          [(visible)]="show">
  <div class="input-group">
    <label for="name">Name</label>
    <input pInputText id="name" class="flex-auto" autocomplete="off"/>
  </div>

  <div class="input-group">
    <label for="quantity">Quantity</label>
    <p-inputnumber [showButtons]="true" buttonLayout="horizontal" inputId="quantity" [min]="0" pinnerMode="horizontal"
                   [step]="1" mode="decimal">
      <ng-template #incrementbuttonicon>
        <span class="pi pi-plus"></span>
      </ng-template>
      <ng-template #decrementbuttonicon>
        <span class="pi pi-minus"></span>
      </ng-template>
    </p-inputnumber>
  </div>

  <div class="input-group">
    <label for="unitPrice">Unit Price</label>
    <p-inputnumber inputId="unitPrice" mode="currency" currency="USD" locale="en-US" [min]="0"/>
  </div>

  <div class="input-group">
    <label for="description">Description</label>
    <textarea pTextarea id="description" rows="5" cols="30"></textarea>
  </div>

  <div class="action-buttons">
    <p-button label="Cancel" severity="secondary" (click)="visible().set(false)"/>
    <p-button label="Add" (click)="visible().set(false)"/>
  </div>
</p-dialog>
