.toolbar {
  border-radius: 3rem;
  padding: 1rem 1rem 1rem 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.name {
  font-weight: 600;
  font-size: 1.5rem;
}

.social-panel {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.social-logo:not(:hover) {
  fill: black;
}

.social-logo:hover {
  $logo-color: #43a047;

  fill: $logo-color;
}
